.start__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.start__img,
.start__content {
    width: 50%;
}
.start__img img{
    width: 100%;
}

.start__content h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.start__content p {
    font-size: 1.1rem;
    margin-bottom: 50px;
    line-height: 28px;
    color: var(--heading-color);
}